* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-health-care: #1445fe;
}
#main4 {
  width: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 30px 180px;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}
#main4 .main4-body {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#main4 .main4-body .main4-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
#main4 .main4-body .main4-logo img {
  width: 60px;
  margin-top: -14px;
}
#main4 .main4-body .main4-logo span {
  color: var(--color-health-care);
  font-size: 22px;
  font-weight: bold;
}
#main4 .item .title {
  color: black;
  font-size: 22px;
  font-weight: bold;
}
#main4 .item ul {
  margin-top: 50px;
  list-style-type: none;
}
#main4 .item ul li {
  margin-bottom: 10px;
}
#main4 .item ul li a {
  font-family: "Itim", cursive;
  text-decoration: none;
  color: #595858;
}
#main4 .item .contact-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Itim", cursive;
  color: #595858;
}
#main4 .item .social-list {
  margin-top: 50px;
}
#main4 .item .social-list a {
  text-decoration: none;
  color: #595858;
  font-size: 24px;
  margin-right: 10px;
}
#main4 .item a:hover {
  color: var(--color-health-care);
}
#main4 .main4-line {
  width: 100%;
  border: 2px solid #595858;
  border-radius: 20px;
  color: black;
  margin-bottom: 8px;
}
#main4 .main4-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#main4 .main4-footer span {
  font-family: "Itim", cursive;
  color: #595858;
}
