* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main1 {
  background-image: url("../../img/home_out/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  border-radius: 10px;
  z-index: 0;
}

.main1-content {
  padding-left: 180px;
  padding-top: 120px;
}
#main1 .main1-btn {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
