* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-health-care: #1445fe;
}
#main3 {
  border-radius: 30px;
  height: 250px;
  background-color: var(--color-health-care);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  margin-top: 350px;
}
.main3-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: white;
}
#main3 form {
  width: 550px;
  height: 380px;
  border-radius: 30px;
  padding: 40px;
  background-color: #c3cffd;
  position: sticky;
  transform: translateY(-30%);
  box-shadow: 2px 2px 10px 5px rgba(0, 23, 105, 0.3);
}
#main3 .form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
#main3 .form-group input {
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: white;
  color: blue;
  height: 46px;
}
#main3 .form-group input:focus,
#main3 .form-group textarea:focus-visible {
  outline-color: var(--color-health-care);
}
#main3 .form-group input[type="text"] {
  width: 190px;
}
#main3 .form-group input[type="email"] {
  width: 100%;
  height: 46px;
}

#main3 .form-group textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: white;
  color: blue;
  resize: vertical;
}
#main3 form .btn-submit {
  outline: none;
  border: none;
  background-color: var(--color-health-care);
  color: white;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  font-family: "Inter";
  border-radius: 10px;
  cursor: pointer;
}
#main3 form .btn-submit:hover {
  opacity: 0.8;
}
