* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main2 {
  margin-top: 120px;
  padding: 0 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
#main2 .main2-title {
  width: 100%;
  text-align: center;
  font-family: "Itim", cursive;
  font-size: 54px;
  font-weight: bold;
  background-image: linear-gradient(
    86.88deg,
    #c3cffd 1.38%,
    #1445fe 64.35%,
    #112178 119.91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#main2 .card-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#main2 .card-list > *:nth-child(2) {
  margin-top: 80px;
}
