* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_in {
  padding: 0 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.home_in .main {
  display: flex;
}
.home_in .main .navigation-bar {
  margin-top: 80px;
  margin-right: 100px;
}
.home_in .main .body {
  margin-top: 40px;
  display: flex;
}
