* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-heath-care: #1445fe;
}

.top {
  margin-left: 100px;
  display: flex;
  align-items: start;
  gap: 40px;
}
.label {
  display: flex;
  align-items: center;
  gap: 16px;
}
.label .blue-point {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-heath-care);
}
.label span {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.main-container {
  margin-top: 16px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.25);
}
.main-container:hover {
  box-shadow: 4px 10px 10px rgba(4, 58, 177, 0.25);
}

/* HEALTH DATA */
.health-data .main-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.health-data .main-container .item {
  width: 160px;
  height: 80px;
  border-radius: 10px;
  background-color: #ededed;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.health-data .main-container .item .div-icon {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #595858;
  font-size: 16px;
}
.health-data .main-container .item .item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-family: "Itim", cursive;
  color: #595858;
  font-size: 16px;
}
.health-data .main-container .item .item-details {
  color: var(--color-heath-care);
  font-weight: bold;
}
/* CHALLENGES */
.day-container {
  display: inline-block;
  margin-bottom: 16px;
}
.day-container i {
  font-size: 20px;
  margin-right: 10px;
  color: #595858;
}
.day-container span {
  font-family: "Itim", cursive;
  font-weight: 400;
  color: #595858;
}
.challenges .main-container {
  height: 220px;
  width: 210px;
}
.challenges .ranking {
  width: 100%;
  height: 140px;
  font-family: "Itim", cursive;
  font-weight: 500;
  border-radius: 10px;
  padding: 16px 20px;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  font-size: 17px;
}
.challenges .ranking .item {
  width: 100%;
}
.challenges .ranking .item span {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.challenges .ranking .item:first-child {
  color: var(--color-heath-care);
}

/* bottom */
.bottom {
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
  gap: 40px;
  position: relative;
}
.bottom .main-container {
  width: 200px;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom .main-container img {
  width: 100%;
}

.arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  right: -10px;
}
.arrow-container i {
  z-index: 2;
}
.arrow-container button {
  pointer-events: all;
  background-color: var(--color-heath-care);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.arrow-container button:hover {
  box-shadow: 4px 10px 10px rgba(4, 58, 177, 0.25);
  opacity: 0.5;
}
.arrow-container button {
  position: absolute;
  right: -40px;
}
