.divForgot p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#root > div > div.divForgot {
  position: fixed;
  width: fit-content;
  height: fit-content;
  background-color: white;
  z-index: 2;
  border-radius: 10px 10px;
  box-shadow: 2px 3px 12px gray;
  top: 20%;
  transform: scale(0);
  transition: 0.3s;
}

#root > div > div.divForgot .divMain {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#root > div > div.divForgot .divMain .divChild input {
  height: 45px;
  width: 400px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cccccc;
  padding-left: 10px;
  background-color: #efefef;
}

#root > div > div.divForgot .divMain .divChild p {
  color: red;
  font-size: 14px;
  display: none;
}

#root > div > div.divForgot .divHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 0.5px solid #cccccc;
}

#root > div > div.divForgot .divHeader p {
  color: #1445fe;
  font-size: 30px;
  font-weight: 600;
}

#root > div > div.divForgot .divHeader i {
  font-size: 20px;
  cursor: pointer;
}

#root > div > div.divForgot > div.divMain > div:nth-child(4) {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  background-color: #1445fe;
  border-radius: 5px;
  /* color: white; */
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
