*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root > div > div.divSignUp{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: white;
    z-index: 2;
    border-radius: 8px;
    box-shadow: 2px 3px 12px gray;
}

#root > div > div.divSignUp > div.divHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #CCCCCC;
    padding-bottom: 10px;
    padding: 10px 20px;
}

#root > div > div.divSignUp > div.divHeader p{
    color: #1445FE;
    font-size: 30px;
    font-weight: 600;
}

#root > div > div.divSignUp > div.divHeader i{
    font-size: 25px;
    cursor: pointer;
}

#root > div > div.divSignUp .divChild{
    width: 100%;
    padding: 10px 20px;
}

#root > div > div.divSignUp input{
    width: 200px;
    height: 45px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    color: black;
    font-weight: 400;
}

#root > div > div.divSignUp .divSex input{
    height: initial;
    width: initial;
}

#root > div > div.divSignUp > div.divLastFirstName.divChild{
    gap: 10px;
    display: flex;
}

#root > div > div.divSignUp .divChild1 input{
    width: 100%;
}

#root > div > div.divSignUp .divChild1{
    position: relative;
}

#root > div > div.divSignUp > div.divPassword.divChild.divChild1 > i{
    position: absolute;
    right: 30px;
    top: 23px;
    cursor: pointer;
}

#root > div > div.divSignUp > div.divDob.divChild{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#root > div > div.divSignUp > div.divDob.divChild p{
    color: #595858;
    font-size: 16px;
}

#root > div > div.divSignUp > div.divDob.divChild .divInput{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#root > div > div.divSignUp > div.divDob.divChild .divInput select{
    width: calc(100% / 3 - 20px);
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #EFEFEF;
    outline: none;
}

#root > div > div.divSignUp > div.divSex.divChild{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#root > div > div.divSignUp > div.divSex.divChild p{
    color: #595858;
    font-size: 16px;
}

#root > div > div.divSignUp > div.divSex.divChild div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#root > div > div.divSignUp > div.divSex.divChild div .div1Sex{
    width: calc(100% / 3 - 20px);
    border: 1px solid #CCCCCC;
    background-color: #EFEFEF;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#root > div > div.divSignUp > div.divSex.divChild div .div1Sex label{
    cursor: pointer;
}

#root > div > div.divSignUp > div.divSex.divChild div .div1Sex input{
    cursor: pointer;
}